<div class="table-responsive col-xs-12">
  <table class="table">
    <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>who</th>
      <th>clicks</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i=0; i<clickers.length; i++) { %>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td><a href="/everyone/<%= clickers[i].name %>"><%= clickers[i].name %></a></td>
        <td><span class="bar"></span><%= clickers[i].clicks %></td>
      </tr>
    <% }; %>
  </tbody>
  </table>
</div>
