<div class="col-xs-12"
  <form class="form" action="/new" method="POST">
    <p>establish a new clicker with a name, please:</p>
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="naaaame heeeere" />
    </div>
    <div class="form-group hidden">
      <input type="number" class="form-control" name="clicks" value="0" />
    </div>
    <div class="form-group hidden">
      <input type="number" class="form-control" name="sprintBest" value="0" />
    </div>
    <div class="form-group hidden">
      <input type="number" class="form-control" name="enduranceBest" value="0" />
    </div>
    <button type="submit">join us</button>
  </form>
</div>
